[Unit]
Description=tailon logs

[Service]
Type=simple
ExecStart=/bin/bash -c "/bin/tailon --tail-lines 500 -f /data/hybris/log/tomcat/console-`date +%%Y%%m%%d`.log /data/hybris/log/tomcat/access.`date +%%Y-%%m-%%d`.log -b 0.0.0.0:1098 --allow-transfers --follow-names --http-auth basic --user admin:{{log_viewer_password}}"
Restart=on-failure
RestartSec=15min

[Install]
WantedBy=multi-user.target
