# This file is appended to the local.properties file when
# the server starts up.

########################
# publicsector configs #
########################

website.publicsector.http=http://publicsector.{{ env }}.hpsa.odxc.info/yacceleratorstorefront
website.publicsector.https=https://publicsector.{{ env }}.hpsa.odxc.info/yacceleratorstorefront
media.publicsector.http=http://publicsector.{{ env }}.hpsa.odxc.info
media.publicsector.https=https://publicsector.{{ env }}.hpsa.odxc.info

{% if env == "dev" %}
storefront.show.debug.info=true
{% else %}
storefront.show.debug.info=false
{% endif %}


############
# Data Hub #
############

# The base URL of the DataHub instance
datahub.server.url=http://datahub.{{env}}.hpsa.odxc.info/datahub-webapp/v1
datahubadapter.datahuboutbound.url=http://datahub.{{env}}.hpsa.odxc.info/datahub-webapp/v1
datahubadapter.datahuboutbound.user=admin
datahubadapter.datahuboutbound.password=nimda
datahub.backoffice.rest.client.username=admin
datahub.backoffice.rest.client.password=nimda

datahub.extension.exportURL=http\://localhost\:9001/datahubadapter
datahub.extension.userName=admin
datahub.extension.password=p@55w0rd



##################
# Tomcat options #
##################

{% if env == "dev" %}
    {% set tomcat_options_append = "" %}
{% else %}
    {% set tomcat_options_append = "" %}
    {% if newrelic_jar is defined %}
        {% set tomcat_options_append = "-javaagent:" + newrelic_jar %}
    {% endif %}
{% endif %}



# TODO experiment with the G1 garbage collector
tomcat.generaloptions=-Xmx{{ java_heap_memory }} -Xms{{ java_heap_memory }} -XX:PermSize=300M -XX:MaxPermSize=300M -XX:+UseG1GC -XX:+UseTLAB -XX:+PrintTenuringDistribution -XX:+PrintGCDateStamps -XX:+PrintGCDetails -Xloggc:${HYBRIS_LOG_DIR}/tomcat/java_gc.log -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=768K -ea -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dorg.tanukisoftware.wrapper.WrapperManager.mbean=true -Djava.endorsed.dirs="%CATALINA_HOME%/lib/endorsed" -Dcatalina.base=%CATALINA_BASE% -Dcatalina.home=%CATALINA_HOME% -Dfile.encoding=UTF-8  -Djava.util.logging.config.file=jdk_logging.properties -Djava.io.tmpdir="${HYBRIS_TEMP_DIR}" {{ tomcat_options_append }}


{% if env == "perf" %}
tomcat.generaloptions=-Xmx24g -Xms24g -XX:PermSize=300M -XX:MaxPermSize=300M -XX:+UseG1GC -XX:+UseTLAB -XX:+PrintTenuringDistribution -XX:+PrintGCDateStamps -XX:+PrintGCDetails -Xloggc:${HYBRIS_LOG_DIR}/tomcat/java_gc.log -XX:+UseGCLogFileRotation -XX:NumberOfGCLogFiles=10 -XX:GCLogFileSize=768K -ea -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Dorg.tanukisoftware.wrapper.WrapperManager.mbean=true -Djava.endorsed.dirs="%CATALINA_HOME%/lib/endorsed" -Dcatalina.base=%CATALINA_BASE% -Dcatalina.home=%CATALINA_HOME% -Dfile.encoding=UTF-8  -Djava.util.logging.config.file=jdk_logging.properties -Djava.io.tmpdir="${HYBRIS_TEMP_DIR}" {{ tomcat_options_append }}

{% endif %}

tomcat.maxthreads=200
tomcat.minsparethreads=50
tomcat.maxidletime=10000
tomcat.acceptcount=100
tomcat.development.mode=false


############
# Database #
############
db.url=jdbc:mysql://{{ database_host }}:3306/hybris?useConfigs=maxPerformance&rewriteBatchedStatements=true&characterEncoding=utf8&useSSL=false
db.driver=com.mysql.jdbc.Driver
db.username=hybris
db.password={{ database_password }}
db.customsessionsql=SET SESSION TRANSACTION ISOLATION LEVEL READ COMMITTED;
mysql.optional.tabledefs=CHARSET=utf8 COLLATE=utf8_bin
mysql.tabletype=InnoDB
mysql.allow.fractional.seconds=true



############
# S3 Media #
############
media.default.storage.strategy=s3MediaStorageStrategy
media.globalSettings.s3MediaStorageStrategy.accessKeyId={{ media_access_key }}
media.globalSettings.s3MediaStorageStrategy.secretAccessKey={{ media_secret_key }}
media.globalSettings.s3MediaStorageStrategy.endpoint=s3-ap-southeast-2.amazonaws.com
media.globalSettings.s3MediaStorageStrategy.bucketId={{ media_bucket }}
media.globalSettings.s3MediaStorageStrategy.url.signed=false
media.globalSettings.s3MediaStorageStrategy.url.unsigned.https=true
media.globalSettings.s3MediaStorageStrategy.url.unsigned.virtualHost=false
media.globalSettings.s3MediaStorageStrategy.url.signed.validFor=120


##############
# Clustering #
##############
clustermode=true
cluster.broadcast.methods=jgroups
cluster.broadcast.method.jgroups=de.hybris.platform.cluster.jgroups.JGroupsBroadcastMethod
cluster.broadcast.method.jgroups.tcp.bind_port=7800
cluster.broadcast.method.jgroups.channel.name=hybris-broadcast
cluster.broadcast.method.jgroups.configuration=jgroups-tcp.xml
cluster.broadcast.method.jgroups.tcp.bind_addr={{ ansible_default_ipv4.address }}

# Manual cluster config:
cluster.nodes.autodiscovery=false
{% if role == "hybris-admin" %}
cluster.id=0
{% else %}
cluster.id={{ ansible_default_ipv4.address.split('.')[3] }}
{% endif %}

# Requested by Sumit, until we have a way to exclude nodes by using node group names instead of ids
# This is a list of numbers between 1 to 254, and then 255 without the last comma
task.excluded.cluster.ids={% for n in range(1,255) %}{{n}},{% endfor %}255

{% if role == "hybris-frontend" %}
task.engine.loadonstartup=false
cluster.node.groups=frontend
task.processing.enabled=false
datahubadapter.retry.max.attempts=1
{% else %}
task.engine.loadonstartup=true
cluster.node.groups=backend
{% endif %}

###########################################################################
## Disable Solr Instances Auto Start since we intend to use solrcloud
###########################################################################

solrserver.instances.default.autostart=false

################
# Orbeon Forms #
################
xyformsservices.orbeon.url.address=http://localhost:9001/orbeon
xyformsstorefrontcommons.orbeon.persistence-api.hostname=localhost
xyformsstorefrontcommons.orbeon.persistence-api.port=9002

################################################
# 	***Email Configuration Settings***		   #
################################################
mail.from = hcea2018@gmail.com
mail.replyto = hcea2018@gmail.com
mail.smtp.server = smtp.gmail.com
mail.smtp.port = 587
mail.smtp.user = hcea2018@gmail.com
mail.smtp.password = HCEA@1234
mail.smtp.ssl=yes

cms.cache.enabled=true
cms.cache.use.default.fallback=false
regioncache.cmsregion.ttl=600

###############
# Performance #
###############

tomcat.maxthreads=200

tomcat.development.mode=false
development.mode=false
build.development.mode=false
addonfilter.active=false
storefront.show.debug.info=false

impex.import.workers=7
catalog.sync.workers=7
acceleratorservices.batch.impex.max-threads=7

# hybris region cache settings
regioncache.entityregion.size=200000
regioncache.entityregion.evictionpolicy=LRU
regioncache.entityregion.statsEnabled=true

regioncache.mediaregion.size=5000
regioncache.mediaregion.evictionpolicy=LRU
regioncache.mediaregion.statsEnabled=true

regioncache.cmsregion.size=5000
regioncache.cmsregion.evictionpolicy=LRU
regioncache.cmsregion.statsEnabled=true

regioncache.querycacheregion.size=40000
regioncache.querycacheregion.evictionpolicy=LRU
regioncache.querycacheregion.statsEnabled=true



