/*
 * [y] hybris Platform
 *
 * Copyright (c) 2000-2016 hybris AG
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of hybris
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with hybris.
 */

div.ye-list {
    height : 100%;
}

div.ye-list-toolbar button {
    cursor: pointer;
}


div.ye-list-paging  {
    float: right;
}

div.ye-list-content {
    height:100%;
    overflow: auto;
}


.ye-list-titlebar{
    padding-bottom: 13px;
    padding-top: 17px;
}

.ye-list-titlebar .ye-list-titlespan-label{
    color: #323B44;
    background: none repeat scroll 0 0 transparent;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.ye-list-titlebar .ye-list-titlespan-value{
    color: #085ABC;
    background: none repeat scroll 0 0 transparent;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

div.ye-list-showmore {
    bottom:0px;
    height:25px;
    cursor:pointer;
    text-align: center;
}


.ye-list .ye-list-toolbar button.z-button
{
    background-position: center center;
    background-repeat: no-repeat;
    width: 32px;
    height:32px;
}

.ye-list .ye-list-toolbar button.z-button:hover{
    background-color: #c0c9d1;
}

.ye-list .ye-list-toolbar button.z-button[disabled]{
    cursor: default;
}



.ye-list .ye-list-toolbar button.z-button[disabled]:hover{
    background-color: transparent;
}

.ye-list .ye-list-toolbar .ye-list-toolbar-button-delete {
    background-image:  url("icons/icon_func_delete_default_16.png") !important;
}

.ye-list .ye-list-toolbar .ye-list-toolbar-button-delete.z-button[disabled] {
    background-image:  url("icons/icon_func_delete_disabled_16.png") !important;
}

.ye-list .ye-list-toolbar .ye-list-toolbar-button-add {
    background-image:  url("icons/icon_func_add_default_16.png") !important;
}

.ye-list .ye-list-toolbar .ye-list-toolbar-button-edit {
    background-image:  url("icons/icon_func_edit_default_16.png") !important;
}

.ye-list .ye-list-toolbar .ye-list-toolbar-button-edit.z-button[disabled] {
    background-image:  url("icons/icon_func_edit_disabled_16.png") !important;
}

div.ye-list div.z-listbox-body .z-listcell {
    border-left: 0 none;
    border-right: 0 none;
}


div.z-listbox-body .z-listcell.ye-list-line-editor{
    padding: 0px;
}


.ye-list-inline {
    position: relative;
    width: 80%;
    float: left;
}

.ye-list-inline-editor input{
    padding: 6px 2% 5px;
    width: 98%;
    border-left: none;
    border-right: none;
}

.ye-list-inline-cancel{
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -8px;
}

button.ye-list-inline-save{
    width: 20%;
    float: left;
    background: #085ABC;
    border:none;
    color: #fff;
    font-weight: bold;
}

.ye-list-toolbar-popup-add.z-popup .z-popup-cl{
    background: #a5aebb;
}

.ye-list-toolbar-popup-add .z-button{
    background: #085ABC;
    border:none;
    color: #fff;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
}


.ye-list-toolbar-popup-add .z-button[disabled]{
    background: #d3d9df;
    color: #6f7c91;
    cursor: default;
}

.z-listitem div.ye-remove-button{
    background: url("icons/icon_circle_delete_sprite_16.png") no-repeat 0 -64px;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 17px;
}

.z-listitem:hover div.ye-remove-button,
.z-listitem-selected:hover div.ye-remove-button {
    background-position: 0 0;
}

.ye-com_hybris_cockpitng_editor_yformmappings  .z-listcell-content,
.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .z-listcell-content{
    padding: 0 8px;
    height: 48px;
    line-height: 48px;
}

.ye-com_hybris_cockpitng_editor_yformmappings  .ye-list-line-editor .z-listcell-content,
.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .ye-list-line-editor .z-listcell-content {
    height: auto;
    line-height: normal;
    padding: 8px 5px 8px 8px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listcell-content:hover {
    background: #f9fafb;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .z-listcell-content {
    padding: 0 10px;
}

.ye-com_hybris_cockpitng_editor_yformmappings tr.z-listitem-selected.z-listitem {
    background-color: initial;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listcell-content > span.z-html {
    color: #495a79;
    font-size: 14px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listcell-content span.ye-map-key {
    text-transform: uppercase;
}

.ye-com_hybris_cockpitng_editor_yformmappings span.ye-map-inline-editor-key {
    font-size: 11px;
    padding-right: 10px;
    background: url("icons/icon_arrow_small_default.png") no-repeat 100% 50%;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer .z-listfooter-content .z-label{
    font-weight: bold;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 24px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer > .z-listfooter{
    width: 100%;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer > .z-listfooter .ye-list-inline-editor .z-textbox,
.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer > .z-listfooter .ye-list-inline-editor .z-decimalbox,
.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox .yw-loceditor-row-editor .ye-com_hybris_cockpitng_editor_yformmappings .z-listitem-selected .z-textbox{
    border: 1px solid #b7bdc8;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer > .z-listfooter .ye-list-line-editor{
    padding:7px 70px 6px  0;
    position: relative;
}


.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-line-editor > .ye-map-editor-btn-container{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .ye-list-line-editor .z-listcell-content .ye-list-line-editor{
    position: relative;
    padding-right: 75px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .ye-list-line-editor .z-listcell-content .ye-list-inline{
    width: 100%;
    float: none;
}

.ye-com_hybris_cockpitng_editor_yformmappings .z-listitem .ye-list-line-editor .z-listcell-content .ye-map-editor-btn-container{
    top: inherit;
    bottom: 0;
    margin: 0;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer .ye-list-line-editor .ye-list-inline{
    width: 50%;
    padding-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer .ye-list-line-editor .ye-map-inline-editor-key.z-combobox{
    border-spacing: 0 1px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-line-editor > .ye-map-editor-btn-container .z-image{
    margin-left: 0;
    margin-right: 3px;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-line-editor:after{
    clear: both;
    display: block;
    content: '';
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer > .z-listfooter .z-listfooter-content{
    padding: 0 5px 2px 8px;
}

.ye-com_hybris_cockpitng_editor_yformmappings > .ye-list-content > .ye-list-listbox{
    border: none;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-footer{
    margin-top: 5px;
    border: 1px solid #b7bdc8;
    width: 100% !important;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-footer .z-listfooter{
    width: 100% !important;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-body .z-listcell{
    border-color: #b7bdc8;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-body{
    border: 1px solid #b7bdc8;
    border-bottom: none;
}

.yw-loceditor-fixed-open .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-body,
.yw-loceditor-dynamic-content .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-body{
    border: none;
}

.yw-loceditor-fixed-open .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-footer,
.yw-loceditor-dynamic-content .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-footer{
    border-width:1px 0 0;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox > .z-listbox-body .z-listbox-emptybody td{
    border-bottom: 1px solid #b7bdc8;
}

.ye-com_hybris_cockpitng_editor_yformmappings div.ye-remove-button{
    margin-top: 16px;
}



.ye-map-footer {
    background-color: #FFF;
}

.ye-map-footer div.z-div {
    cursor: pointer;
}

.ye-map-footer img.z-image {
    margin-right: 5px;
    margin-left: -3px;
}

.ye-map-editor-btn-container {
    cursor: pointer;
    margin: 19px 0 0 0;
}

.ye-map-editor-btn-container .z-image {
    margin-left: 5px;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox .ye-list.ye-com_hybris_cockpitng_editor_yformmappings .z-textbox:focus,
.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-footer .ye-map-inline-editor-key .z-combobox-input:focus{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    box-shadow: inset 0 0 5px rgba(0,0,0,.15);
    border: solid 1px #5f76a0;
    color: #27394f;
}

.ye-com_hybris_cockpitng_editor_yformmappings .ye-map-separator {
    margin: 4px 10px 5px 8px;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-error .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body {
    border: 1px solid #f16b46;
    border-bottom: 0 none;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-warn .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body {
    border: 1px solid #ff9914;
    border-bottom: 0 none;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-info .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body {
    border: 1px solid #025eba;
    border-bottom: 0 none;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-error .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body .z-listcell {
    border-bottom: 1px solid #f16b46;
    background: #fef0ec;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-warn .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body .z-listcell {
    border-bottom: 1px solid #ff9914;
    background: #fff9e9;
}

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-ed-editor.ye-validation-info .ye-com_hybris_cockpitng_editor_yformmappings .ye-list-listbox .z-listbox-body .z-listcell {
    border-bottom: 1px solid #025eba;
    background: #e5eff8;
}

.ye-com_hybris_cockpitng_editor_yformmappings .yw-itemSelectorButton:hover, .yw-itemSelectorButton:focus, 
.z-paging-button:hover, .z-paging-button:focus {
  background-image: none;
}

.ye-com_hybris_cockpitng_editor_yformmappings .yw-itemSelectorButton, .yw-itemSelectorButton[disabled],
.yw-itemSelectorButton[disabled]:hover, .z-paging-button,
.z-paging-button[disabled], .z-paging-button[disabled]:hover {
  background-image: none;
}